<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A2 Bday Games</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='graphics/Favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1 class="site-title">A<sup>2</sup> Birthday Games</h1>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p class="footer-text">Made with love by Sundeep</p>
    </footer>
    
    {% block extra_scripts %}{% endblock %}
</body>
</html>
